<!DOCTYPE html>
<head>
  <title>Simple File Browser 0.0.1 - by Jezz Lucena</title>

  <script src="js/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <div class="app">
    <div class="browser-container">
      <div class="browser">
        <div class="header">
          <div class="title">Simple File Browser 0.0.1</div>
          <br>
          <div class="sourcepath-area">
            Source Path: <input type="text" id="sourcepath" value="../">
            <div class="send-btn">Update</div>
          </div>
          <div class="sourcepath-area-error error"></div>
        </div>

        <hr>

        <div class="entries">
          <div class="entries-container">

          </div>
        </div>

        <div class="details">
          <div class="name">
            <span class="label">Name: </span>
            <span class="content"></span>
          </div>
          <div class="size">
            <span class="label">Size: </span>
            <span class="content"></span>
          </div>
          <div class="created">
            <span class="label">Created on: </span>
            <span class="content"></span>
          </div>
          <div class="modified">
            <span class="label">Modified on: </span>
            <span class="content"></span>
          </div>
          <div class="extension">
            <span class="label">Extension: </span>
            <span class="content"></span>
          </div>
          <div class="mime">
            <span class="label">Mime: </span>
            <span class="content"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
